<div class="row">
    <h1>Educación Formal</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Argentina Programa – INTI</h1> <h4> (Mar 2021 - Dic 2022)</h4></li>
            <p>Programador Web Full Stack Junior</p>
        </ul>
        <ul>
            <li><h1>Universidad Nacional de Lomas de Zamora</h1> <h4> (Mar 2010 – Dic 2016)</h4></li>
            <p>Licenciatura en Publicidad</p>
        </ul>
        <ul>
            <li><h1>Colegio Saavedra</h1> <h4> (Mar 2006 - Dic 2008)</h4></li>
            <p>Bachiller en Humanidades y Ciencias Sociales</p>
        </ul>
    </div>

    <h1>Cursos</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Coder House</h1> <h4> (Sep 2023 - Nov 2023)</h4></li>
            <p>Desarrollo Web</p>
        </ul>
        <ul>
            <li><h1>CFP N°404 Arturo Jauretche</h1> <h4> (Mar 2018 - Dic 2018)</h4></li>
            <p>Técnico reparador de PC</p>
        </ul>
        <ul>
            <li><h1>Mariano Moreno</h1> <h4> (Agos 2017 – Nov 2017)</h4></li>
            <p>Técnico reparador de Celulares</p>
        </ul>
        <ul>
            <li><h1>Mariano Moreno</h1> <h4> (Agos 2017 - Oct 2017)</h4></li>
            <p>Técnico reparador de Notebooks</p>
        </ul>
    </div>
</div>