<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Web-Car Remoto</h1> <h2> - Encargado de Publicaciones </h2> <h4>(Ene 2022 – Actual)</h4></li>
            <p>Dar altas a publicaciones de productos importados en MercadoLibre y cambiar los precios desde la Base de Datos en Virtual-Seller.</p>
        </ul>
        <ul>
            <li><h1>PC Fix Lomas de Zamora</h1> <h2> - Técnico reparador de PC </h2> <h4>(Ene 2017 – Dic 2021)</h4></li>
            <p>Reparación de Notebooks, PC y Celulares. Instalación de Windows, cambio de pantallas de notebooks y celulares, cambio de rams y discos rígidos.</p>
        </ul>
        <ul>
            <li><h1>Cyber-Locutorio Susana Banfield</h1> <h2> - Atención al Cliente </h2> <h4>(Mar 2009 - Dic 2015)</h4></li>
            <p>Encargado de mantenimiento de equipos, software y redes.</p>
        </ul>
    </div>
</div>