<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Calculadora - Java</h1>
            <P>Autodidacta</P>
            <P>Link:</P>
        </div>
    
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Página Web - Heladería</h1>
            <P>Coder House</P>
            <P>Link:</P>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Porfolio Web</h1>
            <P>Argentina Programa</P>
            <P>Link: https://szarate23.github.io/Portfolio/</P>
        </div>
    </div>
</div>
